mc-webhook:
  image-names: deluan/navidrome:latest
  backup-image-names: kaiede/minecraft-bedrock-backup
  webhooks:
    discord_custom:
      type: discord
      url: https://discord.com/api/webhooks/
      events:
        SERVER_STARTED: "The server has started!"
        SERVER_STOPPED: "The server has stopped!"
        PLAYER_CONNECTED: "%playerName% has joined the world"
        WELCOME_MESSAGE: "Hello new player!"
        PLAYER_DISCONNECTED: "%playerName% has left"
        BACKUP_COMPLETE: "New backup has been created: %filename%"
